h1 index threads
div 
    ul
        li 
            a(href="/threads/all") all
        li
            a(href="/threads/all") search
        li
            a(href="/threads/create") create
        li
            a(href="/threads/delete") delete

a(href="/") index