div 
    ul
        each user in users
            li
                p id: #{user.id}
                p name: #{user.name}
                a(href='#')= user.id
                
                form(action="/workspaces/delete" method="post")
                    input(type="hidden" name="id" value=user.id)
                    button(type="submit") 削除