h1 TITLE H1

form(action="" method="post")
    div 
        label(for="pk_wid") pk_wid
        br
        input(type="text" name="pk_wid" value="1")
    div 
        label(for="name") name
        br
        input(type="text" name="name")
    button(type="submit") 送信