h1 index users
div 
    ul
        li 
            a(href="/users/all") all
        li
            a(href="/users/all") search
        li
            a(href="/users/create") create
        li
            a(href="/users/delete") delete

a(href="/") index