h1 index comments
div 
    ul
        li 
            a(href="/comments/all") all
        li
            a(href="/comments/all") search
        li
            a(href="/comments/create") create
        li
            a(href="/comments/delete") delete

a(href="/") index