h1 index workspaces
div 
    ul
        li 
            a(href="/workspaces/all") all
        li
            a(href="/workspaces/all") search
        li
            a(href="/workspaces/create") create
        li
            a(href="/workspaces/delete") delete

a(href="/") index