h1 index spaces
div 
    ul
        li 
            a(href="/spaces/all") all
        li
            a(href="/spaces/all") search
        li
            a(href="/spaces/create") create
        li
            a(href="/spaces/delete") delete

a(href="/") index