extends layout

block content
  h1= title
  p Welcome to #{title}

  div 
    ul 
      li 
        a(href="./workspaces") workspaces
      li 
        a(href="./spaces") spaces
      li 
        a(href="./users") users
      li 
        a(href="./threads") threads
      li 
        a(href="./comments") comments